.btn {
  @apply relative inline-flex items-center justify-center font-medium py-2 px-8 rounded-full transition duration-75 bg-gray-500 border border-gray-500 text-white text-center;

  * {
    @apply pointer-events-none;
  }

  /* default */
  &:hover,
  &.is-active {
    @apply bg-gray-600  border-gray-600;
  }

  &:focus {
    @apply outline-none;
    box-shadow: 0 0 0 3px theme('colors.gray.100');
  }

  &:disabled,
  &.is-disabled {
    @apply bg-gray-300 text-white  border-gray-300 cursor-default bg-none !important;
  }

  /* outline */
  &.btn--outline {
    @apply border-gray-500 text-gray-500 bg-transparent;

    &:hover,
    &.is-active {
      @apply bg-white;
    }

    &:focus {
      @apply outline-none;
    }

    &:disabled,
    &.is-disabled {
      @apply text-gray-200  border-gray-200 bg-white !important;
    }
  }

  /* blue */
  &.btn--blue {
    @apply bg-blue-500  border-blue-500;

    &:hover,
    &.is-active {
      @apply bg-blue-600 border-blue-600;
    }

    &:focus {
      box-shadow: 0 0 0 3px theme('colors.blue.300');
    }

    /* outline */
    &.btn--outline {
      @apply bg-transparent border-blue-500 text-blue-500;

      &:hover,
      &.is-active {
        @apply bg-white;
      }
    }
  }

  /* pink */
  &.btn--pink {
    @apply bg-pink-500  border-pink-500;

    &:hover,
    &.is-active {
      @apply bg-pink-600 border-pink-600;
    }

    &:focus {
      box-shadow: 0 0 0 3px theme('colors.pink.300');
    }

    /* outline */
    &.btn--outline {
      @apply bg-transparent border-pink-500 text-pink-500;

      &:hover,
      &.is-active {
        @apply text-white  border-pink-500 bg-pink-500;
      }
    }
  }

  /* green */
  &.btn--green {
    @apply bg-green-500  border-green-500;

    &:hover,
    &.is-active {
      @apply bg-green-600 border-green-600;
    }

    &:focus {
      box-shadow: 0 0 0 3px theme('colors.green.300');
    }

    /* outline */
    &.btn--outline {
      @apply bg-transparent border-green-500 text-green-500;

      &:hover,
      &.is-active {
        @apply text-white  border-green-500 bg-green-500;
      }
    }
  }
}
